In [45]:
print("Adesewa")

Adesewa

In [46]:
my_name = input("What is your name")
second_name = input("what is your name")
print(f"Hey people, my name is {my_name.title()}, and i am friends with {second_name.title()}")

Hey people, my name is Adedeji Mariam, and i am friends with Badmus Aaliyah

In [2]:
name = "mariam"
age = 39
job = "babygirl"
second_job = "chopping money"
print(f"This is {name.title()}, she is {age} and her occupation is {job} lifestyle plus she's a part of {second_job.title()} gang")

This is Mariam, she is 39 and her occupation is babygirl lifestyle plus she's a part of Chopping Money gang

In [3]:
print("Welcome Mr.{}" .format(name))

Welcome Mr.mariam

In [9]:
names = ['john', 'jane', 'peter', 'tammy', 'tina', 'amanada']
print(names[ -4])

peter

In [18]:
names.append('tola')
names.append('bolaji')
print(names)

['john', 'jane', 'peter', 'tammy', 'tina', 'amanada', 'sewa', 'sewa', 'sewa', ['sewa', 'tola'], 'tola', 'tola', 'tola', 'bolaji']

In [21]:
names.append('tolu')
names.insert(2, 'tolu')
print(names)

['tola', 'john', 'tolu', 'jane', 'tola', 'peter', 'tammy', 'tina', 'amanada', 'sewa', 'sewa', 'sewa', ['sewa', 'tola'], 'tola', 'tola', 'tola', 'bolaji', 'tolu']

In [24]:
names.remove('tola')
print(names)

['john', 'tolu', 'jane', 'tola', 'peter', 'tammy', 'tina', 'amanada', 'sewa', 'sewa', 'sewa', 'tola', 'tola', 'tola', 'bolaji', 'tolu']

In [26]:
names.pop(9)
print(names)

['tolu', 'jane', 'tola', 'peter', 'tammy', 'tina', 'amanada', 'sewa', 'sewa', 'tola', 'tola', 'tola', 'bolaji', 'tolu']

In [27]:
names.sort()
print(names)

['amanada', 'bolaji', 'jane', 'peter', 'sewa', 'sewa', 'tammy', 'tina', 'tola', 'tola', 'tola', 'tola', 'tolu', 'tolu']

In [30]:
names.sort(reverse = False)
print(names)

['amanada', 'bolaji', 'jane', 'peter', 'sewa', 'sewa', 'tammy', 'tina', 'tola', 'tola', 'tola', 'tola', 'tolu', 'tolu']

In [31]:
names.sort(reverse = True)
print(names)

['tolu', 'tolu', 'tola', 'tola', 'tola', 'tola', 'tina', 'tammy', 'sewa', 'sewa', 'peter', 'jane', 'bolaji', 'amanada']

In [33]:
store = {'fruit':['Apple', 'Mangoes', 'Oranges'],
         'price': [150, 100, 60],
         'quantity': [350, 800, 400]}
print(store)

{'fruit': ['Apple', 'Mangoes', 'Oranges'], 'price': [150, 100, 60], 'quantity': [350, 800, 400]}

In [34]:
store.keys()

dict_keys(['fruit', 'price', 'quantity'])

In [35]:
store.values()

dict_values([['Apple', 'Mangoes', 'Oranges'], [150, 100, 60], [350, 800, 400]])

In [37]:
store.update({'retail':[True, False, True]})
print(store)

{'fruit': ['Apple', 'Mangoes', 'Oranges'], 'price': [150, 100, 60], 'quantity': [350, 800, 400], 'retail': [True, False, True]}

In [38]:
store.pop('retail')

[True, False, True]

In [39]:
store.pop('price')

[150, 100, 60]

In [40]:
print(store)

{'fruit': ['Apple', 'Mangoes', 'Oranges'], 'quantity': [350, 800, 400]}

In [9]:
store.update({'retail': ['Apple', 'Mangoes', 'Oranges'],
             'price':['150', '100', '60'] })
print(store)

In [44]:
num = [45, 32, 22, 67, 12, 90]

In [45]:
sum(num)

268

In [46]:
len(num)

6

In [47]:
round(sum(num)/len(num), 2)

44.67

In [48]:
def mean(x):
    a = round(sum(x)/len(x), 2)
    return a

In [49]:
mean(num)

44.67

In [50]:
no = [12, 34, 58, 89]

In [51]:
mean(no)

48.25

In [52]:
def add(a, b):
    c = a * b
    return c

In [53]:
add(45, 67)

3015

In [54]:
def name(a, b, c):
    print(f'Mrs {a} {b[0]}* {c[0]}')

In [10]:
#ASSIGNMENT 1
#Create a function that can calculate a BMI

def BMI(weight, height):
    result_BMI = my_weight/(my_height**2)
    return result_BMI
weight = float(input("input your weight"))
height = float(input("input your height"))
print(f"Your BMI is {result_BMI}")

Your BMI is 3.3057851239669422